* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: #666;
}
header {
	background: #333;
	color: #fff;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav ul {
	list-style: none;
	display: flex;
}
header nav ul li {
	margin-left: 20px;
}
header nav ul li a {
	color: #FFFAFA;
	text-decoration: none;
	font-weight: regular;
}
#hero {
	background: url('https://images.unsplash.com/photo-1629380108574-40c083555579?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
	color: #666;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 80px; /*Espaço adicional para compensar a barra de navegação fixa*/
}

#hero h2 {
	font-size: 3em;
	margin-bottom: 20px;
}

#hero p {
	font-size: 1.5em;
	margin-bottom: 40px;
}

.cta-button {
	background: #e8491d;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 1.2em;
	border-radius: 5px;
}

.content-section {
	padding:1px 20px;
	padding-top: 30px;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

#Uso ul {
	list-style: none;
}

form {
	display: flex;
	flex-direction: column;
}

form label {
	margin-bottom: 10px;
	font-weight: bold;
}

form input, from textarea, form button {
	margin-bottom: 20px;
	padding: 10px;
	font-size: 1em;
}

form button {
	background: #333;
	color: #fff;
	border: none;
	cursor: pointer;
}

form button:hover{
	background: #DB7093;
}

footer {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}

/*Responsividade */

@media (max-width: 768px) {
	hearder .container {
		flex-direction :column;
}

#hero h2 {
	font-size: 2.5em;
}

#hero p {
	font-size: 1.2em;
}

header nav ul {
	flex-direction: column;
	align-items: center;
}

header nav ul li {
	margin-left: 0;
	margin-bottom: 10px;
}

}